* {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #eceef1;
    
}

.nav-bar {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    padding: 10px 20px;
}

.account {
    margin-right: 15px;
}
.sign-in-button {
    background: #0077C5;
    color: white;
    border: 1px solid #4c4c4c;
    border-radius: 4px;
    padding: 2px 17px;
    
}

#forgot-account {
    text-decoration: none;
}

.logo {
    text-align: center;
    padding: 10px 30px 10px 30px
    
}

ul {
    list-style-type: none;
}

.mint-icon-shortcut {
    background: url(/images/mint-logo.svg) no-repeat;
    
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-right: 4px;
    position: relative;
    
}

.qb-icon-shortcut {
    background: url(/images/qb-logo.svg) no-repeat;
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-right: 4px;
    position: relative;
    
}


.tt-icon-shortcut {
    background: url(/images/turbo-logo.svg) no-repeat;
    width: 23px;
    height: 23px;
    display: inline-block;
    margin-right: 4px;
    position: relative;
    
    
}



.links-wrapper {
    max-width: 400px;
    margin: 0 auto;
    
    
}
.links {
    display: flex;
    justify-content: space-between;
    
    
}

.text-links {
  
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    
  
    
}

.sign-up-container {
    text-align: center;
    border: 1px solid rgb(194, 189, 189);
    background: rgb(255, 255, 255);
    margin: auto;
    overflow: visible;
    padding: 30px;
    -webkit-box-sizing: border-box;
    width: 380px;
}

.input-fields {
    max-width: 340px;
}

.create-text .one-account-text .learn-more-link {
    /* display: flex;
    text-align: center; */
}

.create-text {
    font-size: larger;
    font-weight: 400;
    padding: 0px 0px 20px;  

}

.one-account-text {
    font-size: 14px;
    color: #393A3D;
}

.learn-more-link {
    display: block;
    padding: 0px 0px 20px;

}

.email-label {
    font-size: 14px;
    line-height: 25px;
    text-align: left;

}
.phone-label {
    font-size: 14px;
    line-height: 25px;
    text-align: left;
}

.password-label {
    font-size: 14px;
    line-height: 25px;
    text-align: left;
}

.email-input {
    width: 320px;
    margin-bottom: 20px;
    height: 20px;
}

.password-field {
    width: 320px;
    margin-bottom: 20px;
    height: 20px;
}

.phone-field {
    width: 320px;
    margin-bottom: 20px;
    height: 20px;
}

.unlocked-lock {
    background: url(/images/open-lock.png) no-repeat 0% 50% / 21px 21px;;
   
    width: 33px;
    
}

.create-account-div {
    /* background: turquoise; */
}

#create-account-button {
    background: #167CCC;
    /* min-width: 100px */
    width: 320px;
    padding: 5px 34px;
    margin-left: 4px;
    margin-bottom: 20px;
    color: white;
    font-weight: stronger;
    font-size: 16px;
    
}

.terms {
    font-style: italic;
    font-size: 12px;
    color: #757575;
}

.legal-stuff-container {
    text-align: center;
    margin-top: 25px;
}

.trademark-container {
    text-align: center;
    margin: 25px;
    padding: 0px 100px;
    font-size: 12px;
}

.privacy {
    background-color: #FFFFFF;
    padding: 20px 20px;
    margin-top: 72px;
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    
}